/*CSS for Shoes Page*/
*{
	color: black;
	font-family: arial;
}

.notice{
	text-align: center;
	font-size: 20px;
}


.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 450px;
}

/*nav menu for country*/
#country{
	margin-left: 40px;
}

.list{
	margin-left: 10px;
	border: 10px;
	letter-spacing: 2px;
	padding: 3px 4px;/*8px=bottom + top, 12px= right + left*/
	cursor: pointer;
	border-radius: 1px solid;
}

/*shoe and handbags list page link*/
.SH{
	margin: 20px 30px;
	letter-spacing: 1px;
}
.SH a, .List a{
	text-decoration: none;
	color:#336;
}
.SH ul li{
	list-style: none;
	display: inline-block;
}

#shLink li:hover a{
	text-decoration: underline;
}

/*shoe's name and link*/
#imgShoes{
	width: 350px;
	height: 350px;
}

p{
	font-size: 25px;
}

/*shoes and handbags icon*/
#icon{
	width: 25px;
}

/*audio position*/
.SH audio{
	position: absolute;
}

/*nav menu for all*/
nav ul{
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

nav{
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	width: 100%;
	flex: 1;
}

/*cart icon*/
#cart{
	width: 23px;
	margin-bottom: 0px;
	display: inline-block;
}
#cart a img{
	margin-left: 10px;
}

.navMenu{
    display: flex;
    align-items: center;
    background: grey;
	color: white;
}

.navMenu ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
nav{
	background: grey;
}
.navMenu ul li{
	display: inline-block;
	line-height: 40px;
	text-align: center;
	padding-top: 5px;
	font-size: 15px;
	color: white;
	letter-spacing: 2px;
}
.navMenu li a{
	color: white;
	text-decoration: none;
	padding: 5px;
}

.navMenu li a {
	padding-left: 1px;
}

.navMenu li:hover a{
	background-color: #D4D4D4;
  color: #778899;
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 11px;
  text-decoration: none;
}

/*details of shoe*/
.details li{
	color: black;
	text-align: left;
	letter-spacing: 0px;
}


/*css for all the shoe description*/
/*dropdown list for size*/
#size{
	margin-left: 10px;
	background-color: #cfd7d9;
	padding: 4px 5px;/*3px=bottom + top, 4px= right + left*/
	cursor: pointer;
	border-radius: 2px;
	color: black;
	font-size: 16px;
}

/*Size chart*/
#chart a{
	text-decoration: none;  
	font-size:20px; 
	font-weight: bold;
	font-size:15px; 
	color:#1346cc;
}

ul li #chart a:hover{
	text-decoration: underline;
	color:#5c22eb;
}

/*for pop up image of size chart*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/*end of css for pop up image of size chart*/

/*button add to cart in details of shoes*/
#addToCart a input{
	width: 110px;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 6px;
	border-radius: 3px;
	border: 2px solid darkgrey;/*width, style, color*/
	background-color: #cfd7d9;
  	text-align: center;
  	text-decoration: none;
  	margin: 2px 2px;
  	cursor: pointer;
  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
  }

ul li #addToCart a:hover {
  box-shadow: 0 12px 16px 0 
  rgba(0,0,0,0.24),0 17px 50px 0 
  rgba(0,0,0,0.19);
}

/*details of the description*/
#details {
	list-style: none;
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media(max-width: 992px) {
  .col {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media(max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media(max-width: 600px) {
  .col {
    width: 100%;
  }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .col {
    flex: 50%;
  }
  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }

}

/*footer*/

#footer{
	margin: 50px 20px;
}
#footer a{
	text-decoration: none;
	color: whitesmoke;
}
#footer a:hover{
	text-decoration: underline;
}
#footer img{
	margin-right: 10px;
	margin-bottom: 5px;
}
